@import 'common_style';

.ps1-string-display {
  overflow: auto;
  word-wrap: break-word;
  max-width: 75%;
  min-height: 20pt;
  font-size: 18pt;

  background-color: $secondary-background;
  display:block;
}
