@import 'common_style';


.ps1-edit-list {
  border-radius: 5px;
  overflow: auto;

  background-color: $secondary-background;
  display:block;
}

.ps1-edit-list-scroll-padding {
  background-color: $secondary-background;
  display: inline-block;
  min-width: 200px;
  min-height: 80px;
}
