<div class="d-flex flex-column h-100 " style="width:100%">
  <div class="page-header row d-flex flex-row">
    <h1 class="col"> PS1 Generator </h1>
    <div class="col d-flex flex-row-reverse align-items-end mb-2">
      <a href="https://github.com/CanadianCommander/ps1Gen" class="ml-2">
        <img src="assets/GitHub-Mark-Light-32px.png" width="32px" height="32px" alt="github">
      </a>
      <span class="font-italic">
        source on
     </span>
    </div>
  </div>

  <div class="page-body row">
    <div class="page-content container mt-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
