@import 'common_style';

.page-header {
  background-color: $primary;
  color: white;

  h1 {
    padding-top: 0.1em;
    font-family: 'Anton', sans-serif;
    font-size: 32pt;
  }
}

.page-body {
  flex: 1 1 auto;
  background-image: url("src/assets/page-background-tile.png");
}

.page-content {
  background-color: $primary-background;
}
