<h2>
  PS1 Editor
</h2>
<p>
  Sex up your terminal with a new PS1 string! <br>
  This editor allows you to easly edit the PS1 string that produces your terminal prompt, allowing you to produce amazing PS1 strings.
</p>
<hr>
<h4> Instructions </h4>
<p>
  Use the <button type="button" class="btn btn-secondary p-1" >Add</button> button to add new elements to your PS1 string. (tab also does this) <br>
  Click on an element to edit its text. <br>
  Use the <fa-icon icon="arrows-alt" size="sm" ></fa-icon> to drag and drop elements, reordering them. <br>
  Use the <fa-icon icon="palette" size="sm" ></fa-icon> to change foreground and background color <br>
  Use the <fa-icon icon="cog" size="sm" ></fa-icon> to select the "content type" of the element. i.e. text decoration / terminal escape codes <br>
  Finally use the <fa-icon icon="times-circle" size="sm"></fa-icon> to delete elements. <br>
  When you are done editing your string simpily copy and paste the PS1 Code at the bottom of the page in to your terminal.

</p>
<hr>
<div class="editor">
  <app-ps1-editor-graphic-list></app-ps1-editor-graphic-list>
  <app-ps1-string-display></app-ps1-string-display>
</div>
