@import 'common_style';

.special-content {
  margin-top: 0.1em;

  border-radius: 0.25rem;
  border-bottom: 2px solid $primary;

  text-align: center;
  vertical-align: middle;
  font-size: 17pt;
  cursor: not-allowed;
}
