/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

app-root {
  display: block;
  height: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
}
